body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--background);
    margin: 0;
    padding: 0;
    font-size: 36px;
    color: white;
    transition: background 200ms;
}

.water {
    --background: #19647E;
    --header: #1F2041;
    --txt-background: #119DA4;
    --line: #4B3F72;
}

.chocolate {
    --background: #444444;
    --header: #38ebf5;
    --txt-background: #666666;
    --line: #222222;
}

a {
    color: darkgray;
    text-decoration: none;
    -webkit-user-drag: none;
}

a:hover {
    color: lightgray;
}

img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

::-webkit-scrollbar {
    width: 3px;
    background: darkslategray;
}

::-webkit-scrollbar-thumb {
    background: gray;
}

/* cookie warning */
@keyframes popup {
    from { transform: scale(0) }
    40% { transform: scale(1.2) }
    to { transform: scale(1) }
}

#cookieOverlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
    -webkit-user-select: none;
}

.cookieWarning {
    height: 14rem;
    width: 30rem;
    background-color: gray;
    color: white;
    text-align: center;
    border: 2px black solid;
    border-radius: 10%;
    animation: popup 700ms;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cookieWarning h5 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.cookieWarning span {
    font-size: 24px;
}

.cookieButtons {
    margin-top: 2rem;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.cookieBtn {
    width: 30%;
    height: 3rem;
    background-color: darkslategray;
    color: white;
    font-family: inherit;
    outline: none;
    cursor: pointer;
    border: 2px black solid;
    border-radius: 5%;
}

.cookieBtn:hover {
    background-color: rgb(60, 102, 102);
}

.cookieBtn:active {
    background-color: rgb(34, 58, 58);
}

.cookieBtn:focus {
    outline: none;
}

/* theme switcher */
#themeChanger {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 26px;
    color: lightgray;
    cursor: pointer;
}

#themeChanger:hover {
    color: white;
}

#themeChanger:active {
    color: rgb(167, 162, 162);
}

/* header */

.header {
    display: block;
    text-align: center;
    background-color: var(--txt-background);
    color: var(--header);
    font-size: 4rem;
    transition: color 200ms;
}

/* body */

.hook {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-right: 15%;
}

.hook img {
    width: 50%;
}

.hook span {
    width: 35%;
    text-align: center;
}

.features {
    margin-left: 1.5rem;
    display: inline-block;
}

.f-icon {
    font-size: 10rem;
}

.upgrades {
    margin-right: 1.5rem;
    text-align: right;
    float: right;
}

.u-img {
    width: 10rem;
    margin-left: 0;
    transition: 250ms;
}

.u-text {
    width: 18rem;
    font-size: 30px;
    margin-right: 2rem;
}

.heading {
    border-bottom: 15px solid;
    border-color: var(--line);
    width: 100%;
}

.intro-text {
    width: 15rem;
    font-size: 30px;
    margin-left: 2rem;
}

.section {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

/* button */
#clickCookies {
    width: 100%;
    height: 5rem;
    font-size: 3rem;
    font-weight: bold;
    outline: none;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 10rem;
    margin-bottom: 10rem;
}

#clickCookies a {
    transition: 250ms;
    color: #1F2041;
    background-color: #FFC857;
    border: 5px black solid;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    cursor: pointer;
}

#clickCookies a:hover {
    transform: scale(1.1);
    background-color: #fad281;
}

#clickCookies a:active {
    background-color: #f1be58;
}

/* resources */

.resources {
    width: 100%;
    height: auto;
    background-color: var(--line);
    text-align: center;
}

.resourceTxt {
    width: 50%;
    color: lightgray;
    font-size: 28px;
    display: inline-block;
}

#resourceBtn {
    width: 30%;
    height: 5rem;
    background-color: #111111;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

#resourceBtn:hover {
    background-color: #181818;
}

#resourceBtn span {
    transition: 250ms;
}

#resourceBtn:hover {
    font-size: 40px;
}

/* animations */
#hide-bar i {
    transition: 250ms;
}

#hide-bar:hover i {
    transform: rotate(-90deg);
}

#autosave:hover i {
    animation: spinner 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.mug {
    color: chocolate; 
    font-size: 9rem; 
    margin-top: 1rem;
}

.drop {
    color: aqua;
    font-size: 10rem;
    margin-left: 0.5rem;
    margin-right: 1.63rem;
}

#themeSwitch:hover .f-icon {
    transform: scale(0.9);
    animation: pop 520ms infinite;
}

.u-sec:hover .u-img {
    transform: scale(1.1);
}

@keyframes pop {
    from { transform: scale(0.9); }
    50% { transform: scale(1.1); }
    to { transform: scale(0.9); }
}

@keyframes spinner {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* adjust for smaller screen */
@media (max-width: 1000px) {
    .upgrades, .features {
        display: block;
        width: 80%;
        margin-bottom: 12rem;
    }
    
    .hook {
        flex-direction: column;
        margin-bottom: 10rem;
        width: 100%;
        margin-right: 0px;
    }
    
    .hook img, .hook span {
        width: 50%;
    }
    
    #clickCookies {
        font-size: 2.5rem;
    }
    
    #resourceBtn {
        width: 50%;
    }
}

@media (max-width: 700px) {
    #clickCookies {
        font-size: 2rem;
    }
    
    .upgrades, .features {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10rem;
        text-align: center;
    }
    
    .hook img {
        width: 80%;
    }
}

@media (max-width: 500px) {
    .cookieWarning {
        height: auto;
        padding-bottom: 2rem;
    }
}