body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #19647E;
    margin: 0;
    padding: 0;
    font-size: 36px;
    color: white;
}

a {
    color: darkgray;
    text-decoration: none;
    -webkit-user-drag: none;
}

a:hover {
    color: lightgray;
}

img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

::-webkit-scrollbar {
    width: 3px;
    background: darkslategray;
}

::-webkit-scrollbar-thumb {
    background: gray;
}

/* header */

.header {
    display: block;
    text-align: center;
    background-color: #119DA4;
    color: #1F2041;
    font-size: 4rem;
}

/* body */

.hook {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-right: 15%;
}

.features {
    position: absolute;
    left: 1.5rem;
}

.f-icon {
    font-size: 10rem;
}

.upgrades {
    position: absolute;
    right: 1.5rem;
    text-align: right;
}

.u-img {
    width: 10rem;
    margin-left: 0;
    transition: 250ms;
}

.u-text {
    width: 18rem;
    font-size: 30px;
    margin-right: 2rem;
}

.headingLine {
    background-color: #4B3F72;
    border: none;
    height: 0.5rem;
    position: absolute;
    top: 5.5rem;
    width: 30rem;
}

.intro-text {
    width: 15rem;
    font-size: 30px;
    margin-left: 2rem;
}

.section {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

/* button */
#clickCookies {
    background-color: #FFC857;
    border: 5px black solid;
    width: 50%;
    height: 5rem;
    font-size: 3rem;
    font-weight: bold;
    color: #1F2041;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 7%;
    margin-bottom: 5%;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 100rem;
    left: 25vw;
    transition: 250ms;
}

#clickCookies:hover {
    font-size: 3.3rem;
    background-color: #fad281;
}

#clickCookies:active {
    background-color: #f1be58;
}

/* animations */
#hide-bar i {
    transition: 250ms;
}

#hide-bar:hover i {
    transform: rotate(-90deg);
}

#autosave:hover i {
    animation: spinner 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.mug {
    color: chocolate; 
    font-size: 9rem; 
    margin-top: 1rem;
}

.drop {
    color: aqua;
    font-size: 10rem;
    margin-left: 0.5rem;
    margin-right: 1.63rem;
}

#themeSwitch:hover .f-icon {
    transform: scale(0.9);
    animation: pop 520ms infinite;
}

.u-sec:hover .u-img {
    transform: scale(1.1);
}

@keyframes pop {
    from { transform: scale(0.9); }
    50% { transform: scale(1.1); }
    to { transform: scale(0.9); }
}

@keyframes spinner {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* adjust for smaller screen */
@media (max-width: 1100px) {
    .hook {
        flex-direction: column;
        margin-bottom: 10rem;
        width: 100vw;
    }
    
    .upgrades {
        top: 125rem;
    }
    
    #clickCookies {
        top: 170rem;
        left: 12vw;
        width: 75%;
    }
}