body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--background);
    margin: 0;
    padding: 0;
    font-size: 24px;
    transition: background-color 100ms;
    touch-action: manipulation;
}

a {
    color: darkgray;
    text-decoration: none;
    -webkit-user-drag: none;
}

a:hover {
    color: lightgray;
}

img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

::-webkit-scrollbar {
    height: 3px;
    width: 3px;
    background: darkslategray;
}

::-webkit-scrollbar-thumb {
    background: gray;
}

.water {
    --background: #119DA4;
    --sidebar: #4B3F72;
    --tab: #19647E;
    --cookie: rgb(173, 88, 28);
    --lighter: #1bc8d1;
}

.chocolate {
    --background: #666666;
    --sidebar: #333333;
    --tab: darkslategray;
    --cookie: chocolate;
    --lighter: #777777;
}

/* theme switch */
#themeIcon {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    font-size: 1.5rem;
    margin-left: -0.25rem;
    color: lightgray;
    cursor: pointer;
    z-index: 20;
}

#themeIcon:hover {
    color: white;
}

#themeIcon:active {
    color: rgb(197, 184, 184);
}

/* game save */
#saving {
    color: var(--sidebar);
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    -webkit-user-select: none;
}

#savingIcon {
    animation: spin 3s linear;
    animation-iteration-count: infinite;
    -webkit-user-select: none;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
}

/* modal boxes */
.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
}

.modal-content {
    margin-top: -1.5rem;
    width: 40%;
    height: 38%;
    background-color: #119DA4;
    border-radius: 3%;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    text-align: center;
    color: white;
    font-size: 25px;
}

.modal-button {
    background-color: #4B3F72;
    border: 2px #1F2041 solid;
    border-radius: 5%;
    color: lightgray;
    width: 8rem;
    height: 3rem;
    font-size: 20px;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}

.modal-button:hover {
    background-color: #19647E;
}

.modal-button:active {
    background-color: #413761;
}

/* big cookie */
.cookie {
    position: absolute;
    height: 92%;
    width: calc(100vw - 35%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 200ms;
}

.moveCookie {
    width: calc(100vw - 3.8rem);
}

#bigCookie {
    border-radius: 50%;
    height: 50%;
}

#bigCookie img {
    height: 100%;
    border-radius: 50%;
}

#bigCookie:active img {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
}

/* sidebar */
.sbOpen {
    background-color: var(--sidebar);
    grid-area: right;
    width: 30%;
    height: 100vh;
    transition: width 200ms;
    position: absolute;
    right: 0;
    text-align: left;
}

.sb_icon {
    color: white;
    font-size: 2rem;
    transition: 250ms;
}

#sbIcon {
    margin-top: 0.1rem;
    margin-right: 0.5rem;
    width: 2.7rem;
    height: 2.7rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    float: right;
    display: block;
}

#sbIcon:hover i {
    transform: rotate(-90deg);
}

/* cookie counts */
.c-count {
    margin-top: 0.7rem;
    margin-left: 0.3rem;
    color: white;
    text-align: right;
}

.c-icon {
    color: chocolate;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    font-size: 2rem;
}

/* when sidebar is closed */
.sbClosed {
    background-color: var(--sidebar);
    grid-area: right;
    width: 3.8rem;
    height: 100vh;
    transition: width 200ms;
    position: absolute;
    right: 0;
    text-align: center;
}

.hidden {
    display: none;
}

.c-icon-c {
    color: var(--cookie);
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    font-size: 2rem;
    position: absolute;
    right: 4rem;
}

.c-count-c {
    margin-top: 0.7rem;
    margin-left: 0.3rem;
    color: #EFE2B2;
    text-align: right;
    position: absolute;
    right: 6.5rem;
}

/* tabs */
.tabBtns {
    margin-top: 1.2rem;
    -webkit-user-select: none;
    color: gray;
    display: flex;
}

.upgrBtn:hover {
    margin-top: 0.1rem;
    color: rgb(182, 182, 182);
}

.infoBtn:hover {
    margin-top: 0.1rem;
    color: rgb(182, 182, 182);
}

#upgrTabBtn {
    display: inline-block;
}

#infoTabBtn {
    margin-left: 1rem;
    display: inline-block;
    cursor: pointer;
}

.tabBtnActive {
    color: white;
    padding-top: 0.2rem;
    padding-left: 1rem;
    padding-right: 1.5rem;
    background-color: var(--tab);
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

.tab {
    height: calc(100vh - 7.5rem);
    padding: 0.8rem;
    background-color: var(--tab);
}

.overflow {
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
}

/* upgrades tab */

.upgrInfo {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

.upgrImg {
    width: 30%;
    height: auto;
    object-fit: cover;
    border: 2px #1F2041 solid;
    background-color: var(--sidebar);
}

.upgrName {
    color: white;
}

.upgrDesc {
    color: lightgray;
    font-size: 18px;
    display: inline-block;
}

.upgrDetail {
    color: #21e7f1;
    font-size: 18px;
}

.upgrPrice {
    margin-top: 0.5rem;
    color: #ce9b34;
    display: inline-block;
}

.priceIcon {
    color: chocolate;
}

.buyUpgr {
    float: right;
    margin-top: 0.5rem;
    margin-right: 2rem;
    width: 40%;
    height: 2rem;
    background-color: #FFC857;
    border: 2px #1F2041 solid;
    font-size: 1rem;
    font-weight: 600;
    color: #1F2041;
    outline: none;
    cursor: pointer;
}

.buyUpgrDisabled {
    float: right;
    margin-top: 0.5rem;
    margin-right: 2rem;
    width: 40%;
    height: 2rem;
    border: 2px #1F2041 solid;
    font-size: 1rem;
    font-weight: 600;
    color: #1F2041;
    outline: none;
    
    cursor: default;
    background-color: rgb(63, 99, 99);
}

.buyUpgr:hover {
    background-color: #ffd889;
}

.buyUpgr:active {
    background-color: #e9b348;
}

.extraHelpers {
    width: 100%;
    margin-top: 4.5rem;
    display: none;
}

/* info tab */

#info {
    display: none;
}

.infoLabel {
    color: lightgray;
    display: inline-block;
    font-size: 20px;
    margin: 0;
}

.infoText {
    color: white;
    float: right;
    margin-right: 0.5rem;
}

.lateHelpers {
    display: none;
}

#restartBtn {
    color: lightgray;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    background-color: crimson;
    border: 2px black solid;
    width: 8rem;
    height: 2rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    outline: none;
}

#restartBtn:hover {
    background-color: red;
}

#restartBtn:active {
    background-color: rgb(197, 21, 21);
}

#saveBtn {
    color: lightgray;
    background-color: var(--background);
    border: 2px black solid;
    width: 8rem;
    height: 2rem;
    font-family: inherit;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    cursor: pointer;
    outline: none;
}

#saveBtn:hover {
    background-color: var(--lighter);
}

#saveBtn:active {
    background-color: var(--sidebar);
}

/* media queries */

@media (max-width: 1000px) {
    #restartBtn {
        width: 6rem;
    }
    
    #saveBtn {
        width: 5rem;
    }
    
    .modal-button {
        width: 4rem;
    }
}

@media (max-width: 750px) {
    #restartBtn {
        width: 10rem;
    }
    
    #saveBtn {
        width: 10rem;
    }
    
    #sidebar {
        position: relative;
        top: 100vh;
        width: calc(100vw - 0.2rem);
    }
    
    #sbIcon {
        display: none;
    }
    
    .sbClosed, .sbOpen {
        background-color: var(--sidebar);
        grid-area: right;
        padding-top: 5px;
        width: 30%;
        height: 100vh;
        transition: width 200ms;
        position: absolute;
        right: 0;
        text-align: left;
    }
    
    .hidden {
        display: block;
    }
    
    .c-icon-c, .c-icon {
        color: chocolate;
        font-size: 2rem;
        position: absolute;
        right: 5px;
        bottom: calc(100% + 94vh);
    }
    
    .c-count-c, .c-count {
        color: white;
        text-align: right;
        position: absolute;
        right: calc(10px + 2rem);
        bottom: calc(100% + 94.2vh);
    }
    
    .cookie {
        width: 100%;
    }
    
    .overflow {
        overflow: auto;
        overflow-y: visible;
        min-height: 80vh;
        height: auto;
        background-color: var(--tab);
        display: block;
        padding: 0.8rem;
    }
    
    .tab {
        min-height: calc(100vh - 4rem);
        padding: 0.8rem;
        background-color: var(--tab);
        height: auto;
    }
    
}